body.unscroll{
   overflow: hidden;
   padding-right: 17px;
}
.bi-cart2{
   position: relative;
}
.bi-cart2::after{
   position: absolute;
   right: -.5rem;
   top: 0px;
   content: attr(data-count);
   font-size: 1rem;
   color: currentColor;

}
.layout {
   background: rgba(0,0,0,.3);
   backdrop-filter: blur(10px);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   z-index: 100;
   display: none;
   
}
.layout.open{
   display: block;
}
.layout-content {
   width: 95vw;
   padding: 1rem;
   background: #000;
   position: absolute;
   left: 50%;
   top: -35%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   transition: top 3s linear .2s;
   -webkit-transition: top 3s linear .2s;
   -moz-transition: top 3s linear .2s;
   -ms-transition: top 3s linear .2s;
   -o-transition: top 3s linear .2s;
   padding-top: 0;
}
.layout-content.active{
   top: 50px;
}